<h1>Students</h1>
<div><a href="/student/add-student">Add student details</a></div>

<div><a href="/interview/add-interview">Schedule interview</a></div>

<div><a href="/download/">Download</a></div>
<hr>
<% for(student of students){%>
    <div><a href="/student/profile/<%=student._id%>"><%= student.email%></a>
        <span>DSA&nbsp;<%=student.dsa_score%></span>
        <span>WebD&nbsp;<%=student.web_score%></span>
        <span>React&nbsp; <%=student.react_score%></span>
    </div>
    <%}%>
<hr>
<ul>
<% for(interview of interviews){%>
    <li>
    <div>Student:<%=interview.student.name%></div>
    <div>interviewer:<%=interview.interviewer.name%></div>
    <div>Company:<%=interview.company%></div>
    <div class="date">Date:<%=interview.date%></div>
    <div><%=interview.status%></div>
</li>
    <%}%>
</ul>
<script src="/js/home.js"></script>