<h1>Students</h1>
<div><a href="/student/add-student">Add student details</a></div>

<div><a href="/interview/add-interview">Schedule interview</a></div>

<div><a href="/download/">Download</a></div>
<hr>
<% for(student of students){%>
    <div><a href="/student/profile/<%=student._id%>"><%= student.email%></a>
        <span>DSA&nbsp;<%=student.dsa_score%></span>
        <span>WebD&nbsp;<%=student.web_score%></span>
        <span>React&nbsp; <%=student.react_score%></span>
    </div>
    <%}%>
<hr>
<ul>
<% for(interview of interviews){%>
    <li><div><%=interview.interviewer.email%></div>
    <div><%=interview.student.email%></div>
    <div><%=interview.company%></div>
    <div><%=interview.date%></div>
</li>
    <%}%>
</ul>