<h1><%= interviewer.name%></h1>
<h1><%=interviewer.company%></h1>
<h1><%=interviewer.other%></h1>
<% if(locals.user.email== interviewer.email){%>
<a href="/interviewer/edit">Edit</a>
<%}%>
<br>
<ul>
<% for(i of interview){%>
    <li><a href="/student/profile/<%=i.student._id%>"><%= i.student.name%></a>
        status <%= i.status%>
        <% if(i.status=="On Hold"){%>
            <form action="/interview/update" method="post">
                <input type="hidden" name="student" value="<%=i.student.email%>">
                <input type="hidden" name="interviewer" value="<%=i.interviewer.email%>">
                <div><input type="hidden" name="date" value="<%=i.date%>"></div>
                
                <select name="status" id="status">
                    <option value="Pass">Pass</option>
                    <option value="Fail">Fail</option>
                    <option value="Didn't Attempt">Didn't Attempt</option>
                </select>
                <input type="submit" class="submit" value="Done">
            </form>
            <%}%>
    </li>
    <%}%>
</ul>
