<link rel="stylesheet" href="/css/student.css">
<div id="oppor">
    <div class="company-name"><%=opportunity.company%></div>
    <div>Eligibility Criteria:&nbsp;<%=opportunity.criteria%></div>
    <div><%=opportunity.designation%></div>
    <div><%=opportunity.place%></div>
    <div><%=opportunity.ctc%></div>
    <div><%=opportunity.registrationLink%></div>
    <div><%=opportunity.otherLinks%></div>
    <div class="date"><%=opportunity.deadline%></div>

</div>
