<h1><%= student.email%></h1>
<h1><%= student.status%></h1>
<div>DSA <%=student.dsa_score%></div>
<div>WebD <%=student.web_score%></div>
<div>React <%=student.react_score%></div>
<ul>
<% for (i of interview){%>
    <li><a href="/interviewer/profile/<%=i.interviewer._id%>"><%= i.interviewer.email%></a>
        Company <%= i.interviewer.company%>
        <br>
        status <%= i.status%>
    </li>
    <%}%>
</ul>