<link rel="stylesheet" href="/css/student.css">
<div class="student-info">
    <div><%= student.name%></div>
<div>Placement Status:&nbsp;<%= student.status%></div>
</div>
<div class="courses">
    <div id="container">DSA<div id="container1"><div id="dsa"><%=student.dsa_score%></div></div></div>    
    <div id="container">WebD<div id="container1"><div id="web"><%=student.web_score%></div> </div></div>
    <div id="container">React<div id="container1"><div id="react"><%=student.react_score%></div></div></div>
</div>

<% if(locals.user.userType=="Employee"){%>
<form action="/student/update-student" method="post">
    <input type="hidden" name="email" value="<%=student.email%>">
    <div>DSA Score:&nbsp;<input type="number" name="dsa_score" placeholder="DSA score" value="<%=student.dsa_score%>" required></div>
    <div>WebD Score:&nbsp;<input type="number" name="web_score" placeholder="WebD score" value="<%=student.web_score%>" required></div>
    <div>React Score:&nbsp;<input type="number" name="react_score" placeholder="React score" value="<%=student.react_score%>" required></div>
    <div class="status">
    Placement status&nbsp;<select name="status" id="status">
        <% if(student.status=="Placed"){%>
        <option value="Placed" selected>Placed</option>
        <%}else{%>
            <option value="Placed">Placed</option>
        <%}%>
        <% if(student.status=="Not Placed"){%>
        <option value="Not Placed" selected>Not placed</option>
        <%}else{%>
            <option value="Not Placed">Not placed</option>
            <%}%>
    </select>
    </div>
    <Button type="submit">Update</Button>
</form>
<%}%>
<hr>
<div id="bar">
    <div id="opp-bar">Opportunities</div>
    <div id="interview-bar">Interviews</div>
</div>
<hr>
<div id="opportunity">
<table>
    <tr>
        <th>Company</th>
        <th>Position</th>
        <th>CTC</th>
        <th>Deadline</th>
        <th></th>
    </tr>
<%for(o of opportunity){%>
    <tr>
    <td><%=o.company%></td>
    <td><%=o.designation%></td>
    <td><%=o.ctc%></td>
    
    <td class="date"><%=o.deadline%></td>
    <% if(locals.user.userType=="Student" && locals.user.email==student.email){%>
    <td class="anchor"><a href="/opportunity/<%=o._id%>">Apply</a></td>
    <%}%>
    </tr>
    <%}%>

</table>
</div>
<div id="interviews">

<table>
    <tr>
        <th>Interviewer</th>
        <th>Company</th>
        <th>Date</th>
        <th>Interview Status</th>
    </tr>
<% for (i of interview){%>
    <tr>
        <td class="anchor"><a href="/interviewer/profile/<%=i.interviewer._id%>"><%= i.interviewer.name%></a></td>
        <td><%= i.interviewer.company%></td>
        <td class="date"><%=i.date%></td>
        <td ><span class="color"><%= i.status%></span></td>
    </tr>
    <%}%>
</table>
</div>
<script src="/js/student.js"></script>